<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <!-- <div style="text-align: center;margin-top:30px;">
    <img src="https://thumbs.gfycat.com/QuaintLikelyFlyingfish-max-1mb.gif" alt="GIF description" width="300" height="200">
    <h3>Thanks Your Payment Has Been Recevied</h3>
    </div> -->
    <div class="center">
        <img src="https://thumbs.gfycat.com/QuaintLikelyFlyingfish-max-1mb.gif" alt="GIF description" width="300" height="200">
    <h3>Thanks Your Payment Has Been Recevied <i class="fas fa-check-circle"></i></h3>
        <h5>
            <a href="http://127.0.0.1:8000/">
                Again?
            </a>
        </h5>
    </div> 
</body>
</html>